/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of CSS Reset */


/* Element/Generic Selectors */
html {
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, cursive,
               Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
  height: 100%;
}

h1 {
  font-size: 2.5rem;
}

input {
  border: 1px solid #9a9a9a;
  border-radius: 3px;
  padding: 0.6rem 0.8rem;
}

a {
  color: inherit;
  text-decoration: none;
}

::placeholder {
  color: #9a9a9a;
}

#app {
  height: 100%;
}
/* End of Element/Generic Selectors */


/* Reusable Components */
.container {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100%;
}

.container-content {
  padding: 0 1rem;
}

.zipcode-container input,
.zipcode-container button {
  display: inline-block;
}

.button {
  background-color: #5cb85c;
  border: 1px solid #5cb85c;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  padding: 0.6rem 0.8rem;
}
/* End of Reusable Components */


/* Header */
.header {
  background-color: #fc6c43;
  color: #fff;
  padding: 1rem 0;
}

.header .container-content {
  display: grid;
  grid-template-columns: 1fr auto;
}

.header h1 {
  font-weight: 600;
}

.header input {
  margin-right: 1rem;
}
/* End of Header */


/* Home Page */
.home-container {
  align-items: center;
  display: grid;
  height: 100%;
  justify-items: center;
}

.home-container h1 {
  color: #fff;
  font-weight: 100;
}

.home-container form {
  margin: 1.5rem 0;
}

.home-container input,
.home-container button {
  display: block;
  margin: 1rem auto;
}
/* End of Home Page */


/* Forecast Page */
.forecast-header {
  color: #333;
  font-weight: 100;
  font-size: 3.5rem;
  margin: 1rem 0;
  text-align: center;
}

.forecast-container {
  display: grid;
  grid-row-gap: 2rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 2rem 0;
  text-align: center;
}

.day-container {
  margin: 2rem 0;
  text-align: center;
}

.weather {
  height: 7rem;
}

.subheader {
  color: #333;
  font-size: 1.3rem;
  font-weight: 100;
  margin: 1rem 0;
}
/* End of Forecast Page */


/* Details Page */
.description-container {
  font-size: 1.5rem;
  font-weight: 100;
  margin: 0 auto;
  max-width: 25rem;
  text-align: center;
}
/* End of Details Page */
